<div class = "container">
    <div class = "jumbotron">
        <h1>Login to Your Account</h1>
        <button class = "btn btn-default" (click) = "login()">Login with Google</button>
    </div>
</div>
