<div class = "container-fluid">
    <nav class = "navbar navbar-default navbar-fixed-top">
        <div class = "navbar-header">
            <a class = "navbar-brand"  href = "https://facebook.com/alexis.pascual">Alexis Pascual</a>
        </div>
        <div *ngIf = "isLoggedIn">
            <p class = "navbar-text navbar-right">Logged In: {{user_displayName}}</p>
        </div>
        <div *ngIf = "!isLoggedIn">
            <p class = "navbar-text navbar-right">Logged out</p>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
