<div class = "jumbotron">
    <form #userForm="ngForm">
        <input type = "text" [(ngModel)] = "name" name = "username" placeholder="name" required #names="ngModel"/>
        <div [hidden]="names.valid" class="alert alert-danger"> Name is required</div>
        <input type = "text" [(ngModel)] = "age" name = "userage" placeholder="age" required #ages="ngModel"/>
        <div [hidden]="ages.valid" class="alert alert-danger"> Age is required</div>
        <input type = "text" [(ngModel)] = "playtimes" name = "userplaytimes" placeholder="playtimes"/> <br>
        <label>Microphone: </label> <br>
        <input type = "radio" [(ngModel)] = "microphones" name = "micuse" value = "yes"/> Yes <br>
        <input type = "radio" [(ngModel)] = "microphones" name = "micuse" value = "no"/> No <br>
        <label>Platforms:</label> <br>
        <input type="checkbox" [(ngModel)] = "desktop" name="platforms" value="desktop">PC
        <input type="text" name="pcid" placeholder="PC ID"/><br>
        <input type="checkbox" [(ngModel)] = "playstation" name="platforms" value="playstation">PlayStation
        <input type="text" name="psid" placeholder="Playstation ID"/><br>
        <input type="checkbox" [(ngModel)] = "Xbox" name="platforms" value="Xbox">Xbox
        <input type="text" name="xboxid" placeholder="Xbox ID"/><br>
        <label>Games played:</label> <br>
        <input type="checkbox" [(ngModel)] = "dota2" name="dota2" value="true">Dota2<br>
        <input type="checkbox" [(ngModel)] = "csgo" name="csgo" value="true">CS:GO<br>
        <input type="checkbox" [(ngModel)] = "destiny" name="destiny" value="true">Destiny<br>
        <input type="checkbox" [(ngModel)] = "battlefield" name="battlefield" value="true">Battle Field<br>
        <label>Play style:</label>
        <select name="playstyle" [(ngModel)] = "playstyle">
          <option value="any">Any</option>
          <option value="casual">Casual</option>
          <option value="serious">Serious</option>
          <option value="professional">Professional</option>
      </select> <br>
        <p [(ngModel)] = "userid" name = "userid" ngDefaultControl>{{userid}}</p>
        <p [(ngModel)] = "email" name = "email" ngDefaultControl >{{email}}</p>
        <button type="submit" (click) = "fbPostData(userid, email, name, age, microphones, dota2, csgo, destiny, battlefield, desktop, playstation, Xbox, playstyle)">Create Profile</button>
    </form>

</div>
