<div class = "container">
    <div class = "jumbotron">
            <h1>Welcome</h1>
            <p>You should only see that page when you're logged in.</p>
            <p><button class = "btn btn-default" (click) = "logout()">Logout</button></p>
    </div>
</div>
